@model Golf_Roster_Creator.Golfer

@{
    ViewBag.Title = "Delete Golfer?";
}

<div class="row">
    <div class="span12">
        <h2>@ViewBag.Title</h2>

        <h3>Are you sure you want to delete @Html.DisplayFor(model => model._First)?</h3>

        <div class="display-container">
            <div class="display-label">
                First name: 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model._First)
            </div>
        </div>

        <div class="display-container">
            <div class="display-label">
                Last name:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Last)
            </div>
        </div>

        <div class="display-container">
            <div class="display-label">
                Email Address:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>

        @using (Html.BeginForm())
        {
            <p>
                <input type="submit" class="btn btn-info" value="Delete" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
            </p>
        }
    </div>
</div>
